body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*search*/
.search_div{
  display: block;
  height: 220px;
  padding: 31px 197px 77px 202px;
}
.margin_div_search{
  display: block;
  margin-bottom: 41px;
}
.search_text{
  width: 100%;
  height: auto;
  text-align: center;
}
.search_spam{
  padding: 40px;
}
.real_estate_div{
  display: flex;
  justify-content: space-between;
}

.inputs_div{
  width: 350px;
  height: auto;
}
.inputs_div_cars{
  width: 350px;
  height: 273px;
}
.inputs_div_flex{ 
    width: 350px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.results{
  display: block;
  height: 2660px;
  background: #F7F7F7;
}
/*-----*/

.search_input_div{
  width: 100%;
  height: auto;
}

.spam_link{
  text-decoration: none;
  color: black;
}
.orange{
  color:#E5801A;
}
.section{
  width: 100%;
  height: 44px;
  margin-bottom: 9px;
}
.search_divs{
  width: 325px;
}

.two_input{
  width: 325px;
}

.inps_138{
  width: 138px;
  height: 45px;
  padding: 0px 0 0 10px;
}
.div_50{
  width: 50%;
}
.float_right{
  float: right;
}
.float_left{
  float: left;
}
.error{
  color:red;
  margin-bottom: 10px;
}